.card-details {
    background-color: rgb(60, 59, 59);
    border-radius: 15px;
}

.img-details {
    max-width: 100%;
    border-radius: 15px 0 0 15px;
}
.list-details > li {
    padding: 5px 0;
}

.list-details {
    max-width: 300px;
}

.spinner-border-details {
    width: 20px;
    height: 20px;
}

.btn-like:hover svg {
    color: red;
}
.btn-like-active svg {
    color: red;
}
.buttons {
    min-width: 220px;
    max-width: 280px;
}
@media (max-width: 767px) {
    .details {
        padding-left: 30px;
    }

    .img-details {
        max-width: 100%;
        border-radius: 15px 15px 0 0;
    }
  }

@media (max-width: 767px) {
    .list-details {
        padding-right: 20px;
    }
}

@media (max-width: 380px) {
    .btn-link {
        margin-left: 0;
    }
    .btn-like {
        margin-right: 10px;
    }
}