html {
  background-image: url('./img/bg_starsR.jpg');
  background-repeat: no-repeat;
  background-color: #151515;
  background-position: right;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: transparent !important;
  background-image: url('./img/bg_starsL.jpg');
  background-repeat: no-repeat;
  min-height: 100vh;
}

